{% extends "layout.html" %}
{% load static %}
{% block cont %}
    <div class="container mt-5 mb-4">
        <h3 style="text-align: center;">
            Contactenos
        </h3>
        <br><br><br><br><br>
        <br>
        <h3 style="text-align: center;">
            Número: +51 958 629 745
        </h3>
        <br>
        <h3 style="text-align: center;">
            Correo Electrónico: tecnoshop.management@gmail.com
        </h3>
        <br>
        <h3 style="text-align: center;">
            Facebook: TecnoShopLima
        </h3>
        <br>
        <h3 style="text-align: center;">
            Instagram: TecnoShop
        </h3>
    </div>
    <br><br><br><br><br><br><br><br><br><br><br><br><br>
{% endblock %}