{% extends "layout.html" %}
{% load static %}
{% block contenido %}
    <div class="container mt-5">
        <h3>En TecnoShop, estamos comprometidos con otorgar a nuestro clientes productos de computacion para una nueva experiencia en sus componentes de las computadoras
            como teclado, mouses, monitores, interfaces graficas, entre otros productos que pueden gustar a los nuevos clientes que recientemente ven esta tienda, agradecemos
            su presencia en este sitio web y de las compras de nuestros productos.
        </h3>
        <img class="d-block img-fluid" src="{% static 'images/computacion.jpg' %}">
    </div>
    <br>
{% endblock %}

